*{
    box-sizing: border-box;
}
body{
    font-family: Libre Franklin;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
.navbar2,.menu{
    display: none;
} 
.navbar1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
}
.navbar1 a{
    padding: 20px;
    font-size: 24px;
    line-height: 24px;
    white-space: nowrap;
    color: #000;
}
.navbar1 a:hover{
    color: lightgray;
    transition: .3s lightgray;
}
.navbar1 h1{
    font-family: Rancho;
    font-size: 50px;
    line-height: 119px;
    margin-top: 16px;
}
/*.container{
    max-width: 1360px;
    padding: 0 15px;
    margin: 0 auto;
}*/
.element1 {
    display: flex;
    justify-content: space-around;
    max-width: 1360px;
    padding: 0 15px;
    margin: 0 auto;
}
.element1 .item1 {
    flex: none;
    margin: 0 30px 0 0;
    max-width: 100%;
}
.element1 .item1 .option1 p{
    height: 96px;
    width: 443px;
    font-family: Josefin Sans;
    font-size: 48px;
    line-height: 48px;
}
.element1 .item1 .option1 span{
    color: #2A9D8F;
}
.element1 .item1 .option2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.element1 .item1 .option2 a{
    color: #fff;
    border-radius: 10px;
    background: #E76F51;
    padding: 10px;
}
.element1 .item1 .option2 .local::before{
    content: '';
    display: inline-block;
    background: url(img/bx_map.svg) left / contain no-repeat;
    transform: translateY(5px);
    height: 24px;
    width: 26.4px;
}
.element1 .item2 img{
    max-width: 100%;
}
.element1 .item1 .option3 {
    display:-webkit-inline-flex;
    width: 486px;
    height: 119px;
    margin: 97px 0 10px 120px;
}
.element1 .item1 .option3 img{
    margin: 0 30px;
}
.element1 .item1 .option3 p {
    margin: 48px -20px 0;
    transform: translate(-50px, 30px);
}
.container .element2{
    background: #EFEFEF;
    max-width: 1360px;
    padding: 0 15px;
    margin: 0 auto;

}
.element2 .titre h1{
    font-family: Rancho;
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    line-height: 2;
    margin-top: 0px;
}
.element2 .titre p{
    font-family: Josefin Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #E76F51;
    margin-top: -30px;
    
}
.element2 .item{
    display: flex;
    justify-content: space-around;
}
.element2  .item1{
    width: 463px;
}
.element2  .item2 img{
    max-width: 100%;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
}
.element2  .item1 .p0{
    font-family: Josefin Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: #E76F51;
}
.element2 .item1 .p1{
    height: 84px;
    width: 394px;
    font-family: Josefin Sans;
    font-size: 42px;
    font-weight: 400;
    line-height: 42px;  
}
.element2  .item1 .content{
    height: 88px;
    width: 372px;
    font-family: Libre Franklin;
    font-size: 18px;
    font-weight: 100;
    line-height: 22px;
    text-align: justify;
}
.element2  .item1 .price{
    height: 29px;
    width: 158px;
    font-family: Libre Franklin;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    margin-top: 40px;
}
.element2  .item1 .lien{
    height: 24px;
    width: 85px;
    color: #fff;
    border-radius: 10px;
    background: #2A9D8F;
    padding: 10px; 
}
.element2 .item_1{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

@media  screen and (max-width: 950px) {
    .navbar2{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 90px;
    }
    .navbar2 h1{
        font-family: Rancho;
        font-size: 40px;
        line-height: 119px;
        margin-top: 16px;
        white-space: nowrap;
    }
    .navbar2 a{
        padding: 5px;
        font-size: 16px;
        line-height: 24px;
        white-space: nowrap;
        color: #000;
    }
    .navbar2 a:hover{
        color: lightgray;
        transition: .3s lightgray;
    }
    .navbar1,.menu{
        display: none;
    }
    .element1 .option3{
        margin: 97px 0 10px 120px;
    }
    .element2 .titre h1{
        font-size: 40px;
    }
    .element2  .item1 .content{
        height: 88px;
        width: 322px;
        font-family: Libre Franklin;
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
        text-align: justify;
    }
    .element2 .item1{
        margin-left: 80px;
    }
    .element2  .item1 .lien{
        transform: translate(240px, -60px);
        display: block;
        height: 40px;
        width: 120px;
    }
 }
@media screen and (max-width: 600px) {
    .menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 150px;
    }
    .menu h1{
        font-family: Rancho;
        font-size: 40px;
        line-height: 30px;
        margin-top: 16px;
        
    }
    .menu a{
        padding: 25px;
        font-size: 16px;
        line-height: 24px;
        white-space: nowrap;
        color: #000;
    }
    .menu a:hover{
        color: lightgray;
        transition: .3s lightgray;
    }
    
    .navbar2,.navbar1{
        display: none;
    }
    .element1 .item1 .option1 p{
        width: 320px;
        height: 144px;
        font-size: 42px ;
    }
    .element1 .item1 .option3 {
        display:-webkit-inline-flex;
        width: auto;
        height: 119px;
        margin: 10px auto;
    }
    .element2  .item1 .p1{
        height: 72px;
        width: 342px;
        font-family: Josefin Sans;
        font-size: 36px;
        font-weight: 300;
        line-height: 36px;
    }
    .element2 .item1{
        margin-left: 0px;
        width: auto;
    }
    .element2 .item1 .lien{
        transform: translate(205px, -60px);
        display: block;
        height: 40px;
        width: 120px;
    }
}
@media screen and (max-width: 800px){
    .element1{
        display: block;
        
    }
    .element1 .item1{
        height: auto;
        
    }
    .element1 .item2{
        text-align: center;
    }
    .element2 .item{
        display: block;
    }
    .element2 .item_1{
        display: block;
    }
    .element2  .item2{
        margin-top: 20px;
        text-align: center;
    }
    
}